#db============================================================================
SUPABASE_URL=https://xxx.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyxxxxxxxxxxxxxxxxxxx

# Cloudinary==================================================================
CLOUD_NAME=duyiguyig
CLOUD_API_KEY=8098xxxx
CLOUD_API_SECRET=xxxx
NEXT_PUBLIC_FOLDER_NAME=portfolio
CLOUDINARY_FOLDER=portfolio

# email=========================================================================
EMAIL=zaidradaideh.dev@gmail.com
PASSWORD=xxxxx

# SECURITY========================================================================
JWT_SECRET=xxxx
NEXT_PUBLIC_SECRET_KEY=zaidopendash

# POSTHOG==========================================================================
NEXT_PUBLIC_POSTHOG_PROJECT_TOKEN=phc_xxxx
NEXT_PUBLIC_POSTHOG_HOST=https://eu.i.posthog.com
Personal_API=phx_xxxx
POSTHOG_PROJECT_ID=xxxx

# GITHUB====================================================
NEXT_PUBLIC_GITHUB_USERNAME=ZaidAR49
GITHUB_API_TOKEN=ghp_xxxx

# Other=====================================================
NEXT_PUBLIC_DOMAIN=https://zaid-alradaideh.vercel.app
CRON_SECRET=xxx

